.input{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 20px;
}
.input label{
    font-size: 14px;
    font-weight: 600;
}
.input input{
    border: none;
    outline: none;
    padding:15px;
    border: 1px solid #ccc;
    border-radius: 16px;
}