.cart{
    display: flex;
    gap: 20px;    
}
.lgCart{
    flex-direction: column;
}


.heading{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
}
.cart .packedgeHolder{
    width:75%
}
/* .lgCart .packedgeHolder{
    width:70%;
    margin: auto
} */
/* .detailsHolder{
    width: 25%
} */
/* .lgDetailsHolder{
    margin: auto;
    width:50%
} */
/* .mdDetailsHolder{

} */